.main-content {
    border: 1px solid gray;
    padding: 20px;
    background-color: lightcyan;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 180px;
}


.button-menu {
    margin: 10px;
    padding: 10px;
    border: 1px solid cyan;
    background-color: aliceblue;
    cursor: pointer;
    display: flex;

    .pi {
        margin-right: 10px;
    }


    h3 {
        font-family: sans-serif;
        font-size: 0.8rem;
        font-weight: 800;
        margin: 0;
        line-height: 0.8rem;
    }


    &:hover {
        background-color: burlywood;
    }

    &.active {
        background-color: cadetblue;
    }
}