
<div class="main-content">
   <div class="button-menu" (click)="navigateTo('/add')">
        <i class="pi pi-plus"></i>
        <h3>ADD</h3>
   </div>
   <div class="button-menu active" (click)="navigateTo('/')">
    <i class="pi pi-cloud"></i>
        <h3>DATA</h3>
    </div>
    <div class="button-menu" (click)="navigateTo('/reporting')">
        <i class="pi pi-chart-bar"></i>
        <h3>REPORTING</h3>
    </div>
</div>
