
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";

.main-Content {
    padding-left: 250px;
    padding-right: 20px;
    padding-top: 50px;
}