<div class="main-Content">
    <form class="grid" [formGroup]="formAdd" style="width: 100%;">
        <h3 class="col-12">Candidate Information</h3>
        <div class="field col-3">
            <label>Gender </label>
            <p-dropdown [options]="genderDropdown" optionLabel="label" optionValue="value" [style]="{ 'width':'100%' }"
                [filter]="true" autoWidth='false' appendTo="body" formControlName="gender"></p-dropdown>
        </div>
        <div class="field col-3">
            <label>Name </label>
            <input pInputText [style]="{ 'width':'100%' }" autoWidth='false' formControlName="name" />
        </div>
        <div class="field col-3">
            <label>Family Name </label>
            <input pInputText [style]="{ 'width':'100%' }" autoWidth='false' formControlName="family_name" />
        </div>
        <div class="field col-3">
            <label>Birthday </label>
            <p-calendar [style]="{ 'width':'100%' }" autoWidth='false' appendTo="body"
                formControlName="birthdate"></p-calendar>
        </div>
        <div class="field col-3">
            <label>Country </label>
            <p-dropdown [options]="countryDropdown" optionLabel="label" optionValue="value" [style]="{ 'width':'100%' }"
                [filter]="true" autoWidth='false' appendTo="body" formControlName="country"></p-dropdown>
        </div>

        <h3 class="col-12">Application details</h3>
        <div class="field col-3">
            <label>Candidacy Date </label>
            <p-calendar [style]="{ 'width':'100%' }" autoWidth='false' appendTo="body"
                formControlName="candidacy_date"></p-calendar>
        </div>
        <div class="field col-3">
            <label>Agent </label>
            <p-dropdown [options]="agentDropdown" optionLabel="label" optionValue="value" [style]="{ 'width':'100%' }"
                [filter]="true" autoWidth='false' appendTo="body" formControlName="agent"></p-dropdown>
        </div>
        <div class="field col-3">
            <label>Source </label>
            <p-dropdown [options]="sourceDropdown" optionLabel="label" optionValue="value" [style]="{ 'width':'100%' }"
                [filter]="true" autoWidth='false' appendTo="body" formControlName="source"></p-dropdown>
        </div>

        <h3 class="col-12">Choice</h3>
        <div class="field col-3">
            <label>Campus </label>
            <p-dropdown [options]="campusDropdown" optionLabel="label" optionValue="value" [style]="{ 'width':'100%' }"
                [filter]="true" autoWidth='false' appendTo="body" formControlName="campus"></p-dropdown>
        </div>
        <div class="field col-3">
            <label>Field </label>
            <p-dropdown [options]="fieldDropdown" optionLabel="label" optionValue="value" [style]="{ 'width':'100%' }"
                [filter]="true" autoWidth='false' appendTo="body" formControlName="field"></p-dropdown>
        </div>

        <h3 class="col-12">Admission</h3>
        <div class="field col-3">
            <label>Candidacy Evaluation </label>
            <p-dropdown [options]="candidacyDropdown" optionLabel="label" optionValue="value" [filter]="true"
                [style]="{ 'width':'100%' }" autoWidth='false' appendTo="body"
                formControlName="candidacy_evaluation"></p-dropdown>
        </div>
        <div class="field col-3">
            <label>Language </label>
            <p-dropdown [options]="languageDropdown" optionLabel="label" optionValue="value" [filter]="true"
                [style]="{ 'width':'100%' }" autoWidth='false' appendTo="body" formControlName="language"></p-dropdown>
        </div>
        <div class="field col-3">
            <label>Decision </label>
            <p-dropdown [options]="decisionDropdown" optionLabel="label" optionValue="value" [filter]="true"
                [style]="{ 'width':'100%' }" autoWidth='false' appendTo="body" formControlName="decision"></p-dropdown>
        </div>
        <div class="col-12"></div>
        <button pButton [disabled]="formAdd.invalid" label="Ajouter" (click)="onSubmit()"></button>
    </form>
    <p-toast></p-toast>
</div>