<div class="main-Content">

    <p-table [value]="candidates" [tableStyle]="{ 'min-width': '50rem' }" #dt1
        [globalFilterFields]="['name', 'family_name']">
        <ng-template pTemplate="caption">
            <p-dropdown optionLabel="label" optionValue="value" [showClear]="true" placeholder="Agent" [filter]="true"
                [options]="filterAgent" (onChange)="dt1.filter($event.value, 'agent','equals')"
                emptyFilterMessage="No Agent Found" filterPlaceholder="Search" [style]="{'margin':'5px'}"></p-dropdown>
            <p-dropdown optionLabel="label" optionValue="value" [showClear]="true" placeholder="Source" [filter]="true"
                [options]="filterSource" (onChange)="dt1.filter($event.value, 'source','equals')"
                emptyFilterMessage="No Source Found" filterPlaceholder="Search" [style]="{'margin':'5px'}"></p-dropdown>
            <p-dropdown optionLabel="label" optionValue="value" [showClear]="true" placeholder="Gender"
                [options]="filterGender" (onChange)="dt1.filter($event.value, 'gender','equals')"
                emptyFilterMessage="No Gender Found" filterPlaceholder="Search" [style]="{'margin':'5px'}"></p-dropdown>
            <p-dropdown optionLabel="label" optionValue="value" [showClear]="true" placeholder="Country" [filter]="true"
                [options]="filterCountry" (onChange)="dt1.filter($event.value, 'source','equals')"
                emptyFilterMessage="No Country Found" filterPlaceholder="Search"
                [style]="{'margin':'5px'}"></p-dropdown>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Candidancy Date</th>
                <th>Agent</th>
                <th>Source</th>
                <th>Gender</th>
                <th>Name</th>
                <th>Family Name</th>
                <th>Birthday</th>
                <th>Country</th>
                <th>Campus</th>
                <th>Field</th>
                <th>Candidancy evaluation</th>
                <th>Language</th>
                <th>Decision</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-candidate>
            <tr>
                <td>{{ candidate?.candidacy_date | date:'dd/MM/YYYY' }}</td>
                <td>{{ candidate?.agent }}</td>
                <td>{{ candidate?.source }}</td>
                <td>{{ candidate?.gender }}</td>
                <td>{{ candidate?.name }}</td>
                <td>{{ candidate?.family_name }}</td>
                <td>{{ candidate?.birthdate | date:'dd/MM/YYYY' }}</td>
                <td>{{ candidate?.country }}</td>
                <td>{{ candidate?.campus }}</td>
                <td>{{ candidate?.field }}</td>
                <td>{{ candidate?.candidacy_evaluation }}</td>
                <td>{{ candidate?.language }}</td>
                <td>{{ candidate?.decision }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>